@font-face {
  font-family: "StmprBrk";
  src: url("./fonts/StmprBrk.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Galsten";
  src: url("./fonts/Galsten.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}