.losses {
  background: #5f6643;
  margin-bottom: 35px;
  border-radius: 20px;
  width: 100%;

  @media(max-width: 1200px) {
    display: none;
    
    margin-bottom: 50px;
    margin-left: -20px;
  }

  @media(max-width: 650px) {
    margin-left: 0;
    min-width: 200px;
    max-width: 350px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    width: 100%;
    background: #484d30;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;

    @media(max-width: 650px) {
      text-align: left;
    }
  }

  &__title {
    font-size: 34px;
    font-family: "Glasten";
    color: #c8a002;
    align-items: center;
    text-align: center;

    @media(max-width: 650px) {
      padding-bottom: 10px;
    }

  }

  &__subtitle {
    color: #ded5ce;
    font-size: 28px;
    text-align: center;
  }

  &__img {
    margin-bottom: 20px;
    max-width: 100%;

    @media(max-width: 650px) {
      max-width: 90%;
    }
  }

  &__amount {
    font-family: "StmprBrk", sans-serif;
    font-size: 90px;
    color: #fffc00;
    margin-bottom: 20px;

    @media(max-width: 650px) {
      font-size: 60px;
    }
  }

  &--mobile {
    display: none;

    @media(max-width: 1200px) {
      display: block;
    }
  }
}
